<!DOCTYPE html>
<html>
    <head>
        <title>SmartDisplay-Web</title>
        <link rel="stylesheet" type="text/css" href="client.css">
        <link rel="stylesheet" type="text/css" href="alerts.css">
        <link rel="stylesheet" type="text/css" href="clock.css">
        <link rel="stylesheet" type="text/css" href="weather.css">
        <link rel="stylesheet" type="text/css" href="traffic.css">
        <!-- Mapbox stylesheet -->
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />
    </head>
    <body>
        <div id="bg"></div>
        <div id="curtain" class="hidden"></div>
        <div id="clock">
            <div id="time"></div>
            <div id="date"></div>
        </div>
        <div id="weather" class="hidden">
        </div>
        <div id="traffic" class="hidden">
        </div>
        <div id="alerts" class="hidden">
        </div>
        <script src="client.js"></script>
    </body>
</html>