<!DOCTYPE html>
<html>
    <head>
        <title>SmartDisplay-Web</title>
        <link rel="stylesheet" type="text/css" href="client.css">
        <link rel="stylesheet" type="text/css" href="clock.css">
        <link rel="stylesheet" type="text/css" href="weather.css">
        <link rel="stylesheet" type="text/css" href="traffic.css">
    </head>
    <body>
        <div id="bg"></div>
        <div id="clock">
            <div id="time"></div>
            <div id="date"></div>
        </div>
        <div id="weather" class="hidden">
        </div>
        <div id="traffic" class="hidden">
        </div>
        <script src="client.js"></script>
    </body>
</html>