body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.hidden {
    display: none;
}

#curtain {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 50;
    background-color: rgba(0,0,0,0.4);
}