#traffic {
    position: absolute; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    /* background-color: rgba(0,0,0,0.3); */
}

.traffic_pane {
    position: absolute;
    border: thin solid black;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    bottom: 15px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

#traffic_1 {
    right: 15px;
}

#traffic_2 {
    right: 190px;
}

#traffic_3 {
    right: 365px;
}

#traffic_4 {
    right: 540px;
}

#traffic_5 {
    right: 715px;
}

.traffic_low {
    background-color: #009900;
}

.traffic_moderate {
    background-color: #884400;
}

.traffic_heavy {
    background-color: #990000
}

.traffic_severe {
    background: linear-gradient(#000 0%, #990000 35%, #990000 70%, #f00 100%);
}

.traffic_unknown {
    background: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 70%, #000 100%);
}

.travel_time_dest {
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
    font-weight: bold;
}

.travel_time_min {
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    font-size: 65px;
    font-weight: bold;
}

.travel_time_unit {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    margin-bottom: 15px;
}

.travel_time_via {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
}

.no_via .travel_time_min {
    top: 45px;
}

.no_via .travel_time_unit {
    top: 110px;
}