#traffic {
    position: absolute; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    /* background-color: rgba(0,0,0,0.3); */
}

.traffic_pane {
    position: absolute;
    border: thin solid black;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    bottom: 15px;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

#traffic_1 {
    right: 15px;
}

#traffic_2 {
    right: 190px;
}

#traffic_3 {
    right: 365px;
}

#traffic_4 {
    right: 540px;
}

#traffic_5 {
    right: 715px;
}

.traffic_low {
    background-color: #009900;
}

.traffic_moderate {
    background-color: #884400;
}

.traffic_heavy {
    background-color: #990000
}

.traffic_severe {
    background: linear-gradient(#000 0%, #990000 35%, #990000 70%, #f00 100%);
}

.traffic_unknown {
    background: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 70%, #000 100%);
}

.travel_time_dest {
    position: absolute;
    top: 10px;
    left: 5px;
    right: 5px;
    font-weight: bold;
}

.travel_time_min {
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    font-size: 65px;
    font-weight: bold;
}

.travel_time_unit {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    margin-bottom: 15px;
}

.travel_time_via {
    font-size: 11px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
}

.no_via .travel_time_min {
    top: 45px;
}

.no_via .travel_time_unit {
    top: 110px;
}

#route_dialog {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    border: thin solid black;
    background-color: dimgrey;
    z-index: 100;
}

#route_dialog_close_button {
    position: absolute;
    background-color:black; 
    color: white; 
    border-radius: 15px; 
    height: 25px; /* allow for top padding */
    width: 30px; 
    right: -15px; 
    top: -15px; 
    padding-top: 5px; 
    text-align: center; 
    font-weight: bold;
    z-index: 150;
}

#route_dialog_close_button::before {
    content: "X";
}

#route_dialog_content {
    position: absolute;
    /* Fill parent */
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#route_dialog_closing_timer {
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

#route_dialog_closing_timer::before {
    content: "Closing in ";
}

#route_dialog_closing_timer::after {
    content: " seconds";
}