#weather {
    position: absolute;
    top: 70px;
    right: 70px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 18px;
    padding: 15px;
    width: 310px;
    overflow: hidden;
}

#location {
    font-size: 20px;
    font-weight: bold;
}

#main_weather {
    width: 100%;
    height: 140px;
}

#main_icon {
    position: absolute;
    top: 35px;
    left: 10px;
}

#main_temp {
    position: absolute;
    top: 50px;
    left: 120px;
    font-weight: bold;
    font-size: 60px;
}

#main_max_temp {
    position: absolute;
    top: 52px;
    background-color: #e93e38;
}

#main_min_temp {
    position: absolute;
    top: 87px;
    background-color: #05a3d3;
}

.main_minmax_temp {
    left: 270px;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

#main_condition {
    position: absolute;
    top: 125px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 20px;
}

#weather hr {
    border-color: white;;
}

#additional_weather_list {
    margin-bottom: 20px;
}

.additional_weather {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.additional_loc {
    flex: 2;
    margin-top: 10px;
    font-weight: bold;
}

.additional_temp {
    margin-top: 5px;
    padding: 5px;
    height: 20px;
    margin-left: 5px;
    background-color: transparent;
    font-weight: bold;
}

.additional_high {
    margin-top: 5px;
    padding: 5px;
    height: 20px;
    margin-left: 5px;
    background-color: #e93e38;
    border-radius: 10px;
}

.additional_low {
    margin-top: 5px;
    padding: 5px;
    height: 20px;
    margin-left: 5px;
    background-color: #05a3d3;
    border-radius: 10px;
}

#weather_updated {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    text-align: center;
}

#weather_updated::before {
    content: "Updated: ";
}

/* Condition backgrounds */

/*
 * [ ] atmosphere
 * [x] clear
 * [x] clouds
 * [x] drizzle
 * [x] rain
 * [ ] snow
 * [x] thunderstorm
 * [ ] unknown
 * [ ] none
 */

.clear {
    background: linear-gradient(125deg,
        #037294 0%,
        #037294 4%,
        #0598c5 20%, #05a3d3 24%, #0598c5 28%, 
        #037294 40%,
        #0598c5 52%, #05a3d3 56%, #0598c5 60%, 
        #037294 72%,
        #0598c5 85%, #05a3d3 88%, #0598c5 91%, 
        #037294 96%, 
        #037294 100%
    );
}

.clouds {
    background: linear-gradient(30deg, 
        #4d4d4d 0%,
        #686868 7%,  #737373 8%,  #686868 9%,
        #4d4d4d 16%,
        #686868 23%, #737373 24%, #686868 25%, 
        #4d4d4d 32%, 
        #686868 39%, #737373 40%, #686868 41%, 
        #4d4d4d 48%, 
        #686868 55%, #737373 56%, #686868 57%, 
        #4d4d4d 64%, 
        #686868 71%, #737373 72%, #686868 73%, 
        #4d4d4d 80%, 
        #686868 87%, #737373 88%, #686868 89%, 
        #4d4d4d 96%, 
        #4d4d4d 100%
    );
}

.drizzle {
    background: linear-gradient(88deg, 
        #4d4d4d 0%,
        #4d4d4d 12%,
        #5a5a5a 15%, #597a94 15.5%, #5a5a5a 16%, 
        #4d4d4d 18%,
        #4d4d4d 48%,
        #5a5a5a 51%, #597a94 51.5%, #5a5a5a 52%, 
        #4d4d4d 54%,
        #4d4d4d 84%,
        #5a5a5a 87%, #597a94 87.5%, #5a5a5a 88%, 
        #4d4d4d 90%
    );
}

.rain {
    background: linear-gradient(86deg, 
        #4d4d4d 0%,
        #5a5a5a 3%, #597a94 3.5%, #5a5a5a 4%, 
        #4d4d4d 6%,
        #5a5a5a 9%, #597a94 9.5%, #5a5a5a 10%, 
        #4d4d4d 12%,
        #5a5a5a 15%, #597a94 15.5%, #5a5a5a 16%, 
        #4d4d4d 18%,
        #5a5a5a 21%, #597a94 21.5%, #5a5a5a 22%, 
        #4d4d4d 24%,
        #5a5a5a 27%, #597a94 27.5%, #5a5a5a 28%, 
        #4d4d4d 30%,
        #5a5a5a 33%, #597a94 33.5%, #5a5a5a 34%, 
        #4d4d4d 36%,
        #5a5a5a 39%, #597a94 39.5%, #5a5a5a 40%, 
        #4d4d4d 42%,
        #5a5a5a 45%, #597a94 45.5%, #5a5a5a 46%, 
        #4d4d4d 48%,
        #5a5a5a 51%, #597a94 51.5%, #5a5a5a 52%, 
        #4d4d4d 54%,
        #5a5a5a 57%, #597a94 57.5%, #5a5a5a 58%, 
        #4d4d4d 60%,
        #5a5a5a 63%, #597a94 63.5%, #5a5a5a 64%, 
        #4d4d4d 66%,
        #5a5a5a 69%, #597a94 69.5%, #5a5a5a 70%, 
        #4d4d4d 72%,
        #5a5a5a 75%, #597a94 75.5%, #5a5a5a 76%, 
        #4d4d4d 78%,
        #5a5a5a 81%, #597a94 81.5%,#5a5a5a 82%, 
        #4d4d4d 84%,
        #5a5a5a 87%,#597a94 87.5%, #5a5a5a 88%, 
        #4d4d4d 90%,
        #5a5a5a 93%, #597a94 93.5%, #5a5a5a 94%, 
        #4d4d4d 96%,
        #5a5a5a 99%, #597a94 99.5%, #5a5a5a 100%
    );
}

.thunderstorm {
    background: linear-gradient(97deg, 
        #000000 0%,
        #000000 12%,
        #333333 15%, #b1b66d 15.5%, #333333 16%, 
        #000000 18%,
        #000000 48%,
        #333333 51%, #b1b66d 51.5%, #333333 52%, 
        #000000 54%,
        #000000 84%,
        #333333 87%, #b1b66d 87.5%, #333333 88%, 
        #000000 90%
    );
}